@inherits SearchBase

<input 
    class="form-control" 
    type="text"
    @bind-value="SearchText"
    @bind-value:event="oninput"
    @onkeyup="SearchHeroes"
    @onblur="ResetControl"
    autocomplete="off" 
    placeholder="Search"/>

@if (SearchState.Results.Any())
{
    <div class="card">
        <ul class="list-group list-group-flush">
            @foreach (var item in SearchState.Results)
            {
                <li class="list-group-item">
                    @item.Name
                </li>
            }
        </ul>
    </div>
}
@if (SearchState.NoResults)
{
    <div class="card">
        <li class="list-group-item">
            No Results!
        </li>
    </div>
}
