@page "/"
@page "/dashboard"

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">My Dashboard</h1>
        </div>
    </div>

    <Search />
</div>
