@page "/"
@page "/dashboard"

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Top Heroes</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            Find your hero
        </div>
        <div class="card-body">
            <Search />
        </div>
    </div>

    <div class="mb-3 mt-3">
        <TopHeroes />
    </div>

</div>
